* {
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.InputBox{
  width:500px;
  margin: 50px auto 40px auto;
}

.ImportButton{
  margin-left: 40%;
  margin-top: 20px;
}

.ThemeOne{
  height: inherit;
  width: inherit;
  
}

.MainBox{
  width: 600px;
  height: 600px;
  background-color: black;
}

.FooterText{
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: 30%;
  font-size: 20px;
}
