.App{
  height: 100%;
}

.BrandName{
  position: absolute;
  color: white;
  margin-left: 100px;
  margin-top: 20px;
}

.InputBox{
  width:500px;
  margin: 50px auto 40px auto;
}

.ImportContainer{
  display: block;
  width: 34%;
  margin: 80px auto 80px auto;
}

.ThemeButton{
  margin-left: 85%;
  margin-right: 100px;
  margin-top: 30px;
  border-radius: 20px;
}

.ThemeButton:hover{
  background-color: gray;
}

.MainBox{
  display: block;
  margin: 100px auto 100px auto;
}

.MainContainer{
  width: 1200px;
  height: 700px;
  background-color: #376A9D;
  color: black;
  text-align: center;
  box-shadow: 0 15px 15px 0 rgba(0,0,0,.8);
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.FooterText{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}
